@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Friends List", "FriendsList", "Friend")</li>
                    <li>@Html.ActionLink("Pending invitation", "Invitations", "Friend")</li>
                    <li>@Html.ActionLink("Invitation to Friend", "SendInvitationList", "Friend")</li>
                    <li>@Html.ActionLink("Create invitation", "AddFriend", "Friend")</li>
                    <li>@Html.ActionLink("My Wall", "CurrentUserItems", "Items",new { id = "" }, null)</li>
                    <li>@Html.ActionLink("Create Item", "Create", "Items")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
    <script>

        $(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "0",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            var notifications = $.connection.notificationsHub;
            //PROTIP: funkcja wywoływana z serwera w np. NotifyConnected()
            notifications.client.addMessage = function (message, targetUrl) {
                toastr["info"](message, '', {
                    onclick: function () {
                        notifications.server.notifyAll("Ktoś kliknął w info, że ktoś wszedł w About :D", "#");
                    }
                });
            };

            $.connection.hub.start().done(function () {
                //PROTIP: od teraz można wywoływać funkcje na serwerze
            });
        })

    </script>
</body>
</html>
